$main-font: 'Montserrat';
$second-font: 'Roboto';
$title-color: #e2e8f0;
$content-color: #d1d1d1;

$font-size: 18px;
$font-size-mobile: 10px;

$mobile-screen-width: 768px;

$landing-bg: #090f13;

$color-black: #000;
$color-light-red: #ba3242;
